@import 'main';

*{
    font-family: 'Montserrat';
}

.inner-website{
    height: auto;    

    background: white;

    padding: 0px;

    .website-inner{
        width: 100%;

        margin:0% auto;

        background: #efefef;

        //padding-right: 40px;
        //padding-left: 40px;

        padding: 0px !important;

        .topBanner{
            width: 100%;
            min-height: 500px;

            background: url(https://images.unsplash.com/photo-1561266436-6a5834b9b1ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
            background-size: cover;

            .cover{
                width: 100%;
                min-height: 500px;

                background: rgba(0,0,0,.5);

                padding-top: 70px;
                padding-bottom: 60px;

                .topPostArea{
                    @media screen and (min-width: 1200px)
                    {
                        width: 800px;
                    }

                    @media screen and (max-width: 1199px){
                        width: 85%;
                    }

                    margin: 0% auto;

                    h3{
                        font-size: 2.5em;
                        font-weight: 300;

                        color: #fff;
                    }

                    p{
                        padding-top: 10px;
                        line-height: 1.5em;

                        font-weight: 500;

                        color: white;
                    }
                }

                .bottomPostArea{
                    border-bottom: 1px solid rgba(0,0,0,.1);

                    padding-top: 20px;
                    padding-bottom: 30px;

                    @media screen and (min-width: 1200px)
                    {
                        width: 800px;
                    }

                    @media screen and (max-width: 1199px){
                        width: 85%;
                    }

                    margin: 0% auto;

                    .modal{
                        //display: block;

                        .modal-dialog{

                            .modal-content{
                                border: none;

                                .modal-header{
                                    border-bottom: 0px;
                                    background: #673ab7;

                                    h5{
                                        color: white;

                                        font-weight: 400;
                                    }

                                    button{

                                        span{
                                            color: white;
                                        }
                                    }
                                }

                                .modal-body{
                                    padding-top: 15px;

                                    p{
                                        font-weight: 500;
                                    }

                                    p.bottom{
                                        padding-top: 20px;
                                        border-top: 1px solid #eee;
                                    }
                                }
                            }
                        }
                    }

                    form{

                        textarea{
                            outline: none;
                            border: none;
                            resize: none;

                            width: 100%;
                            height: 110px;

                            padding: 25px;

                            box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.14);

                            margin-bottom: 15px;
                        }

                        input[type="tel"]{
                            padding: 10px;
                            border: none;

                            width: 220px;

                            box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.14);

                            margin-right: 15px;

                            
                        }

                        .btn{
                            background: #673ab7;
                            border-color: #673ab7;
                        }
                    }
                }
            }
        }

        .topWebsite{

            padding-bottom: 75px;
            width: 100%;

            .innerTopWebsite{
                @media screen and (min-width: 501px){
                    padding: 50px;
                    padding-top: 50px;
                }

                @media screen and (max-width: 501px){
                    padding: 20px;
                    padding-top: 0px;
                }

                .top{

                    h3{
                        text-align: center;
                        padding: 25px;

                        font-weight: 400;
                    }

                    .commentPostEntry{
                        border-radius: 3px;
                        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

                        @media screen and (min-width: 1171px){
                            width: 400px;
                        }
    
                        @media screen and (max-width: 1170px){
                            width: 98%;
                        }
                        margin: 0% auto;

                        outline: none;
                        border: none;
                        resize: none;

                        height: 150px;

                        padding: 15px;

                        background: white;

                        margin-bottom: 15px;

                        form{

                            textarea{
                                outline: none;
                                border: none;
                                resize: none;

                                padding: 5px;

                                width: 100%;
                                height: 80px;

                                margin-bottom: 15px;
                            }

                            input[type='submit']{
                                color: white;
                                background: #673ab7;

                                position: relative;
                                //margin-top: -60px;
                                top: -15px;
                            }
                        }
                    }
                }

                .bottomFeed{
                    @media screen and (min-width: 1200px)
                    {
                        width: 800px;
                    }

                    @media screen and (max-width: 1199px){
                        width: 98%;
                    }
                        
                    margin: 0% auto;

                    padding-top: 25px;

                    @media screen and (min-width: 1171px){
                        column-count: 2;
                    }

                    @media screen and (max-width: 1170px){
                        column-count: 1;
                    }
                }

                .secondBottomFeed{
                    @media screen and (min-width: 1200px)
                    {
                        width: 800px;
                    }

                    @media screen and (max-width: 1199px){
                        width: 98%;
                    }
                        
                    margin: 0% auto;

                    padding-top: 25px;

                    @media screen and (min-width: 1171px){
                        column-count: 2;
                    }

                    @media screen and (max-width: 1170px){
                        column-count: 1;
                    }
                }

                .bottomFeedView{
                    @media screen and (min-width: 1200px)
                    {
                        width: 800px;
                    }

                    @media screen and (max-width: 1199px){
                        width: 98%;
                    }

                    margin: 0% auto;

                    padding-top: 25px;

                    @media screen and (min-width: 1171px){
                        column-count: 2;
                    }

                    @media screen and (max-width: 1170px){
                        column-count: 1;
                    }
                }
            }
        }
    }
}

.topWebsite.about{
    margin-top: -300px;
            
    .innerTopWebsite{

        .bottomFeed{
            background: white;
            padding: 25px;

            @media screen and (min-width: 1200px)
            {
                width: 800px;
            }

            @media screen and (max-width: 1199px){
                width: 98%;
            }
                
            margin: 0% auto;
            padding-top: 25px;
        }

        
        .secondBottomFeed{
            @media screen and (min-width: 1200px)
            {
                width: 800px;
            }

            @media screen and (max-width: 1199px){
                width: 98%;
            }

            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                
            margin: 0% auto;
            margin-top: 50px;

            padding: 25px;
            background: white;

            h5{
                color: #aaa;
                
                font-size: 1.2em;
                font-weight: 500;
            }

            .inner{
                padding-top: 15px;

                ol{
                    padding-left: 15px;
                    margin-left: 0px;

                    li{

                        p{
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}